healthsight project/Connected Services/MyDBServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MyDBService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MyDBService.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPatients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPatients" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPatients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPatientByNRIC_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientByNRIC" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPatientByNRIC_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientByNRICResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPatientByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientByEmail" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPatientByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreatePatient_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePatient" />
  </wsdl:message>
  <wsdl:message name="IService1_CreatePatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePatientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePatientByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePatientByEmail" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePatientByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePatientByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByEmail" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUserByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserByEmail" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUserByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserByEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPatients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllPatients" message="tns:IService1_GetAllPatients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllPatientsResponse" message="tns:IService1_GetAllPatients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientByNRIC">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPatientByNRIC" message="tns:IService1_GetPatientByNRIC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPatientByNRICResponse" message="tns:IService1_GetPatientByNRIC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPatientByEmail" message="tns:IService1_GetPatientByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPatientByEmailResponse" message="tns:IService1_GetPatientByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreatePatient" message="tns:IService1_CreatePatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreatePatientResponse" message="tns:IService1_CreatePatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePatientByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeletePatientByEmail" message="tns:IService1_DeletePatientByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeletePatientByEmailResponse" message="tns:IService1_DeletePatientByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserByEmail" message="tns:IService1_GetUserByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserByEmailResponse" message="tns:IService1_GetUserByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateUser" message="tns:IService1_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateUserResponse" message="tns:IService1_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteUserByEmail" message="tns:IService1_DeleteUserByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteUserByEmailResponse" message="tns:IService1_DeleteUserByEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPatients">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientByNRIC">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPatientByNRIC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientByEmail">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPatientByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePatient">
      <soap:operation soapAction="http://tempuri.org/IService1/CreatePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePatientByEmail">
      <soap:operation soapAction="http://tempuri.org/IService1/DeletePatientByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByEmail">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserByEmail">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteUserByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/MyDBService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>